@import 'variables';

body {
	margin: 0;
	background-color: $white;
}

.el-container {
	display: flex;
	flex-direction: column;
	.el-header {
		padding: 0;
		height: auto !important;
	}
	.el-footer {
		padding: 0;
	}
}
.el-main {
	padding-bottom: 100px;
}
.el-footer {
	position: fixed;
	width: 100%;
	bottom: 0;
}
.el-color-picker {
	.el-color-picker__trigger {
		width: 100px;
	}
}
.el-dialog__body {
	padding: 10px 5px 20px;
}
.el-slider,
.el-input {
	width: 40%;
}
.el-input-number,
.el-color-dropdown {
	.el-input {
		width: 100%;
	}
}
