@import 'variables';

body {
	margin: 0;
	background-color: $white;
}

.el-container {
	display: flex;
	flex-direction: column;
	.el-header {
		padding: 0;
		height: auto !important;
	}
	.el-footer {
		padding: 0;
	}
}

.el-color-picker {
	line-height: 36px;
	.el-color-picker__trigger {
		width: 100px;
		height: 36px;
	}
}
.el-input__inner {
	height: 100%;
	line-height: 36px;
}
.el-dialog__body {
	padding: 10px 5px 20px;
}
